.editor {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: $max-page-width;
  overflow: hidden;
  position: absolute;
  top: 100px;
  bottom: 0px;
  right: 0;
  left: 0;
  .left {
    width: 75%;
    overflow: auto;
  }
  .right {
    outline: 0.05px solid rgb(172, 172, 172);
    width: 25%;
    min-width: 350px;
  }
}
