.editor {
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  .practice {
    width: 600px;
    .builder {
      position: relative;
      border: 10px solid blue;
    }
  }
  overflow-y: scroll;
}
