.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  .header {
    height: 5.2vh;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: #fafafa;
    transition: background-color 0.1s ease;
    border-bottom: 0.1px solid darkgrey;
    .left-section {
      .menu-column {
        .logo {
          .logo-image {
          }
          .logo-title {
            padding: 15px;
          }
          &:link,
          &:visited {
            color: black;
            text-decoration: none;
          }
        }
        .menu-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .menu-item {
            text-align: center;
            padding: 15px;
            &:link,
            &:visited {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }
    .right-section {
      .user-column {
        .user-menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .menu-item {
            text-align: center;
            padding: 15px;
            font-size: 20px;
            &:link,
            &:visited {
              color: black;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
